Repository Kong/insomnia, pull requests merged in 2020-12, with the labels that each got.

#2738 Add sort options for sidebar rows
  packages/insomnia-app/app/common/__tests__/sorting.test.js
  packages/insomnia-app/app/common/constants.js
  packages/insomnia-app/app/common/sorting.js
  packages/insomnia-app/app/ui/components/sidebar/sidebar-filter.js
  packages/insomnia-app/app/ui/components/sidebar/sidebar-sort-dropdown.js
  packages/insomnia-app/app/ui/components/wrapper-debug.js
  packages/insomnia-app/app/ui/components/wrapper.js
  packages/insomnia-app/app/ui/containers/app.js
  packages/insomnia-app/app/ui/css/components/sidebar.less
Labels: hacktoberfest-accepted

#2887 Import a spec and execute a request
  packages/insomnia-smoke-test/core/app.test.js
  packages/insomnia-smoke-test/fixtures/oas3.yaml
  packages/insomnia-smoke-test/fixtures/swagger2.yaml
  packages/insomnia-smoke-test/modules/application.js
  packages/insomnia-smoke-test/modules/debug.js
  packages/insomnia-smoke-test/modules/dropdown.js
  packages/insomnia-smoke-test/modules/modal.js
  packages/insomnia-smoke-test/modules/settings.js
  packages/insomnia-smoke-test/package-lock.json
  packages/insomnia-smoke-test/package.json
  packages/insomnia-smoke-test/prism/swagger2.yaml
  packages/insomnia-smoke-test/tinyhttp/index.js
Labels: e2e test

#2671 Basic auth e2e test
  packages/insomnia-smoke-test/core/app.test.js
  packages/insomnia-smoke-test/fixtures/constants.js
  packages/insomnia-smoke-test/fixtures/oas3.yaml
  packages/insomnia-smoke-test/modules/debug.js
  packages/insomnia-smoke-test/package-lock.json
  packages/insomnia-smoke-test/package.json
  packages/insomnia-smoke-test/server/index.js
  packages/insomnia-smoke-test/tinyhttp/index.js
Labels: e2e test

#2918 Add shim for window in insomnia-send-request
  lerna.json
  packages/insomnia-app/package-lock.json
  packages/insomnia-app/package.json
  packages/insomnia-app/send-request/webpack.config.babel.js
  packages/insomnia-app/send-request/window-shim/index.js
  packages/insomnia-app/send-request/window-shim/package.json
  packages/insomnia-inso/package-lock.json
  packages/insomnia-inso/package.json
  packages/insomnia-send-request/package-lock.json
  packages/insomnia-send-request/package.json
  packages/insomnia-smoke-test/package-lock.json
  packages/insomnia-smoke-test/package.json
Labels: High Priority, package/insomnia-inso

#2917 Introduce E2E tests for inso run test
  .github/workflows/test.yml
  package.json
  packages/insomnia-smoke-test/cli/app.test.js
  packages/insomnia-smoke-test/fixtures/inso-nedb/insomnia.ApiSpec.db
  packages/insomnia-smoke-test/fixtures/inso-nedb/insomnia.Environment.db
  packages/insomnia-smoke-test/fixtures/inso-nedb/insomnia.Request.db
  packages/insomnia-smoke-test/fixtures/inso-nedb/insomnia.RequestGroup.db
  packages/insomnia-smoke-test/fixtures/inso-nedb/insomnia.UnitTest.db
  packages/insomnia-smoke-test/fixtures/inso-nedb/insomnia.UnitTestSuite.db
  packages/insomnia-smoke-test/fixtures/inso-nedb/insomnia.Workspace.db
  packages/insomnia-smoke-test/package-lock.json
  packages/insomnia-smoke-test/package.json
Labels: e2e test

#2883 gRPC URL bar improvements - streaming type & package groups
  packages/insomnia-app/app/__jest__/setup-after-env.js
  packages/insomnia-app/app/common/__tests__/grpc-paths.test.js
  packages/insomnia-app/app/common/grpc-paths.js
  packages/insomnia-app/app/network/grpc/method.js
  packages/insomnia-app/app/ui/components/buttons/grpc-send-button.js
  packages/insomnia-app/app/ui/components/dropdowns/grpc-method-dropdown.js
  packages/insomnia-app/app/ui/components/dropdowns/grpc-method-dropdown/__tests__/grpc-method-dropdown-button.test.js
  packages/insomnia-app/app/ui/components/dropdowns/grpc-method-dropdown/__tests__/grpc-method-dropdown.test.js
  packages/insomnia-app/app/ui/components/dropdowns/grpc-method-dropdown/grpc-method-dropdown-button.js
  packages/insomnia-app/app/ui/components/dropdowns/grpc-method-dropdown/grpc-method-dropdown.js
  packages/insomnia-app/app/ui/components/dropdowns/grpc-method-dropdown/index.js
  packages/insomnia-app/app/ui/components/panes/grpc-request-pane/index.js
  packages/insomnia-app/app/ui/components/tags/grpc-method-tag.js
  packages/insomnia-app/app/ui/css/components/grpc-url-bar.less
  packages/insomnia-app/app/ui/css/index.less
  packages/insomnia-app/package-lock.json
  packages/insomnia-app/package.json
  packages/insomnia-components/components/button/button.js
  packages/insomnia-components/components/button/button.stories.js
  packages/insomnia-components/components/dropdown/dropdown-item.js
  packages/insomnia-components/flow-typed/@storybook/addon-knobs.js
  packages/insomnia-components/index.js
Labels: grpc

#2777 Setting same sidebar item sorting for the Edit tag request dropdown
  packages/insomnia-app/app/ui/components/templating/tag-editor.js
Labels: hacktoberfest-accepted

#2946 Serve csv and pdf files locally
  packages/insomnia-smoke-test/core/app.test.js
  packages/insomnia-smoke-test/fixtures/dummy.csv
  packages/insomnia-smoke-test/fixtures/dummy.pdf
  packages/insomnia-smoke-test/server/index.js
Labels: e2e test

#2926 Support template tags with gRPC
  package-lock.json
  packages/insomnia-app/app/__mocks__/@grpc/grpc-js.js
  packages/insomnia-app/app/common/__mocks__/render.js
  packages/insomnia-app/app/common/__tests__/database.test.js
  packages/insomnia-app/app/common/__tests__/har.test.js
  packages/insomnia-app/app/common/__tests__/render.test.js
  packages/insomnia-app/app/common/grpc-events.js
  packages/insomnia-app/app/common/render.js
  packages/insomnia-app/app/main/__tests__/grpc-ipc-main.test.js
  packages/insomnia-app/app/main/grpc-ipc-main.js
  packages/insomnia-app/app/models/grpc-request.js
  packages/insomnia-app/app/models/helpers/__tests__/query-all-workspace-urls.test.js
  packages/insomnia-app/app/models/helpers/query-all-workspace-urls.js
  packages/insomnia-app/app/network/__tests__/network.test.js
  packages/insomnia-app/app/network/grpc/__mocks__/index.js
  packages/insomnia-app/app/network/grpc/__mocks__/proto-loader.js
  packages/insomnia-app/app/network/grpc/__schemas__/grpc-ipc-message-params-schema.js
  packages/insomnia-app/app/network/grpc/__schemas__/grpc-ipc-request-params-schema.js
  packages/insomnia-app/app/network/grpc/__tests__/index.test.js
  packages/insomnia-app/app/network/grpc/__tests__/prepare.test.js
  packages/insomnia-app/app/network/grpc/call-cache.js
  packages/insomnia-app/app/network/grpc/index.js
  packages/insomnia-app/app/network/grpc/prepare.js
  packages/insomnia-app/app/network/grpc/proto-loader.js
  packages/insomnia-app/app/ui/components/buttons/__tests__/grpc-send-button.test.js
  packages/insomnia-app/app/ui/components/buttons/grpc-send-button.js
  packages/insomnia-app/app/ui/components/editors/grpc-editor.js
  packages/insomnia-app/app/ui/components/panes/grpc-request-pane/index.js
  packages/insomnia-app/app/ui/components/panes/grpc-request-pane/use-action-handlers.js
  packages/insomnia-app/app/ui/components/panes/grpc-request-pane/use-existing-grpc-urls.js
  packages/insomnia-app/app/ui/components/panes/request-pane.js
  packages/insomnia-app/app/ui/components/viewers/grpc-tabbed-messages.js
  packages/insomnia-app/app/ui/components/wrapper-debug.js
  packages/insomnia-app/app/ui/context/grpc/__tests__/grpc-ipc-renderer.test.js
  packages/insomnia-app/app/ui/context/grpc/grpc-ipc-renderer.js
  packages/insomnia-app/app/ui/context/grpc/index.js
Labels: grpc
