Repository Kong/insomnia, pull requests merged in 2020-10, with the labels that each got.

#2697 Removing top/bottom paddings in CodeMirror-dialog
  packages/insomnia-app/app/ui/css/editor/dialog.less
Labels: Bug, Improvement 💄

#2766 Insomnia core & designer app iconography
  packages/insomnia-app/app/main/window-utils.js
  packages/insomnia-app/app/static/icon.png
  packages/insomnia-app/app/static/insomnia-core-logo_16x.png
  packages/insomnia-app/app/static/insomnia-designer-logo_16x.png
Labels: bug

#2784 Add GrpcRequest and GrpcRequestMeta database models
  packages/insomnia-app/app/models/__tests__/grpc-request-meta.test.js
  packages/insomnia-app/app/models/__tests__/grpc-request.test.js
  packages/insomnia-app/app/models/__tests__/proto-file.test.js
  packages/insomnia-app/app/models/grpc-request-meta.js
  packages/insomnia-app/app/models/grpc-request.js
  packages/insomnia-app/app/models/index.js
  packages/insomnia-app/app/models/proto-file.js
  packages/insomnia-app/app/ui/redux/modules/entities.js
Labels: grpc

#2792 Hide gRPC from url bar method dropdown for standard requests
  packages/insomnia-app/app/ui/components/dropdowns/method-dropdown.js
  packages/insomnia-app/app/ui/components/modals/request-create-modal.js
Labels: grpc

#2785 Save a GrpcRequest after protofile selection
  packages/insomnia-app/app/models/__tests__/grpc-request-meta.test.js
  packages/insomnia-app/app/models/__tests__/request-meta.test.js
  packages/insomnia-app/app/models/grpc-request-meta.js
  packages/insomnia-app/app/models/request-meta.js
  packages/insomnia-app/app/ui/components/modals/request-create-modal.js
  packages/insomnia-app/app/ui/components/proto-file/proto-file-list.js
  packages/insomnia-app/app/ui/containers/app.js
Labels: grpc

#2786 Allow sidebar to show grpc requests
  packages/insomnia-app/app/ui/components/sidebar/sidebar-children.js
  packages/insomnia-app/app/ui/components/sidebar/sidebar-request-row.js
  packages/insomnia-app/app/ui/components/tags/grpc-tag.js
  packages/insomnia-app/app/ui/containers/app.js
  packages/insomnia-app/app/ui/css/constants/colors.less
  packages/insomnia-app/app/ui/redux/__tests__/sidebar-selectors.test.js
  packages/insomnia-app/app/ui/redux/selectors.js
  packages/insomnia-app/app/ui/redux/sidebar-selectors.js
Labels: grpc

#2793 Remove unrelated items from request actions and request settings
  packages/insomnia-app/app/models/__tests__/grpc-request.test.js
  packages/insomnia-app/app/models/grpc-request.js
  packages/insomnia-app/app/ui/components/dropdowns/request-actions-dropdown.js
  packages/insomnia-app/app/ui/components/modals/request-settings-modal.js
Labels: grpc
