Repository Kong/insomnia, pull requests merged in 2021-04, with the labels that each got.

#3256 o2k parameter style support & default
  packages/openapi-2-kong/src/__fixtures__/httpbin.expected.json
  packages/openapi-2-kong/src/declarative-config/plugins.js
  packages/openapi-2-kong/types/openapi3.flow.js
Labels: B-bug

#3298 fix(o2k) update path param regex to match 1 segment only
  packages/openapi-2-kong/src/__fixtures__/httpbin.expected.json
  packages/openapi-2-kong/src/__fixtures__/link-example.expected.json
  packages/openapi-2-kong/src/__fixtures__/petstore-expanded.expected.json
  packages/openapi-2-kong/src/__fixtures__/petstore.expected.json
  packages/openapi-2-kong/src/__fixtures__/uspto.expected.json
  packages/openapi-2-kong/src/__tests__/common.test.js
  packages/openapi-2-kong/src/common.js
  packages/openapi-2-kong/src/declarative-config/__tests__/services.test.js
Labels: PA-openapi-2-kong

#3283 Request validator plugin respects existing properties and generates required ones
  packages/openapi-2-kong/src/__fixtures__/request-validator-plugin.expected.json
  packages/openapi-2-kong/src/__fixtures__/request-validator-plugin.yaml
  packages/openapi-2-kong/src/declarative-config/__tests__/plugins.test.js
  packages/openapi-2-kong/src/declarative-config/plugins.js
  packages/openapi-2-kong/src/declarative-config/services.js
  packages/openapi-2-kong/types/openapi3.flow.js
Labels: PA-openapi-2-kong

#3293 Respect request validator plugin defined at the document root and hierarchy of plugin definitions
  packages/openapi-2-kong/src/__fixtures__/request-validator-plugin.expected.json
  packages/openapi-2-kong/src/__fixtures__/request-validator-plugin.yaml
  packages/openapi-2-kong/src/__tests__/common.test.js
  packages/openapi-2-kong/src/common.js
  packages/openapi-2-kong/src/declarative-config/__tests__/plugins.test.js
  packages/openapi-2-kong/src/declarative-config/__tests__/services.test.js
  packages/openapi-2-kong/src/declarative-config/plugins.js
  packages/openapi-2-kong/src/declarative-config/services.js
  packages/openapi-2-kong/src/kubernetes/__tests__/plugins.test.js
  packages/openapi-2-kong/src/kubernetes/plugins.js
Labels: PA-openapi-2-kong

#3289 Plugin API: Add getHeaders method to context.response
  packages/insomnia-app/app/plugins/context/__tests__/response.test.js
  packages/insomnia-app/app/plugins/context/response.js
Labels: A-plugin-api

#3286 Custom & default tagging for plugins
  packages/openapi-2-kong/src/__fixtures__/httpbin.expected.json
  packages/openapi-2-kong/src/common.js
  packages/openapi-2-kong/src/declarative-config/__tests__/plugins.test.js
  packages/openapi-2-kong/src/declarative-config/__tests__/services.test.js
  packages/openapi-2-kong/src/declarative-config/plugins.js
  packages/openapi-2-kong/src/index.js
  packages/openapi-2-kong/types/declarative-config.flow.js
Labels: PA-openapi-2-kong

#3233 Fix license metadata
  package.json
  packages/insomnia-app/package.json
  packages/insomnia-inso/package.json
  packages/insomnia-send-request/package.json
  packages/insomnia-smoke-test/package.json
  packages/insomnia-testing/package.json
  packages/openapi-2-kong/package.json
Labels: C-improvement

#3273 `strip_path` explicit support, and `x-kong-route-defaults` support
  packages/openapi-2-kong/README.md
  packages/openapi-2-kong/src/__fixtures__/api-with-examples.expected.json
  packages/openapi-2-kong/src/__fixtures__/api-with-examples.yaml
  packages/openapi-2-kong/src/declarative-config/__tests__/services.test.js
  packages/openapi-2-kong/src/declarative-config/__tests__/upstreams.test.js
  packages/openapi-2-kong/src/declarative-config/__tests__/utils.js
  packages/openapi-2-kong/src/declarative-config/services.js
  packages/openapi-2-kong/src/declarative-config/upstreams.js
  packages/openapi-2-kong/src/kubernetes/__tests__/index.test.js
  packages/openapi-2-kong/types/openapi3.flow.js
Labels: PA-openapi-2-kong

#3320 [o2k] fix targets not getting tags
  packages/openapi-2-kong/src/__fixtures__/api-with-examples.expected.json
  packages/openapi-2-kong/src/__fixtures__/callback-example.expected.json
  packages/openapi-2-kong/src/__fixtures__/httpbin.expected.json
  packages/openapi-2-kong/src/__fixtures__/link-example.expected.json
  packages/openapi-2-kong/src/__fixtures__/petstore-expanded.expected.json
  packages/openapi-2-kong/src/__fixtures__/petstore.expected.json
  packages/openapi-2-kong/src/__fixtures__/request-validator-plugin.expected.json
  packages/openapi-2-kong/src/__fixtures__/security.expected.json
  packages/openapi-2-kong/src/__fixtures__/uspto.expected.json
  packages/openapi-2-kong/src/declarative-config/__tests__/upstreams.test.js
  packages/openapi-2-kong/src/declarative-config/upstreams.js
  packages/openapi-2-kong/types/declarative-config.flow.js
Labels: PA-openapi-2-kong

#3318 [o2k] fix name generation
  packages/openapi-2-kong/src/__fixtures__/api-with-examples.expected.json
  packages/openapi-2-kong/src/__fixtures__/link-example.expected.json
  packages/openapi-2-kong/src/__fixtures__/no-targets-example.expected.json
  packages/openapi-2-kong/src/__fixtures__/petstore-expanded.expected.json
  packages/openapi-2-kong/src/__fixtures__/petstore.expected.json
  packages/openapi-2-kong/src/__fixtures__/uspto.expected.json
  packages/openapi-2-kong/src/declarative-config/__tests__/names.test.js
  packages/openapi-2-kong/src/declarative-config/services.js
Labels: PA-openapi-2-kong

#3327 [o2k] fix parameter default styles
  packages/openapi-2-kong/src/__fixtures__/httpbin.expected.json
  packages/openapi-2-kong/src/__fixtures__/request-validator-plugin.expected.json
  packages/openapi-2-kong/src/__fixtures__/request-validator-plugin.yaml
  packages/openapi-2-kong/src/declarative-config/plugins.js
Labels: PA-openapi-2-kong
